@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Trabalho de Sistemas Distribuídos do <strong>Professor Ilo Rivero.</strong><p>

<ul>
    <li>Rafael Cardoso</li>
    <li>Igor Bernardo</li>
    <li>Thales Zacarias</li>
</ul>