@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rafael Cardoso<br />
    <abbr>Cel.: 31-99999-8888</abbr>
</address>

<address>
    Igor Bernardo<br />
    <abbr>Cel.: 31-77777-6666</abbr>
</address>

<address>
    Thales Zacarias<br />
    <abbr>Cel.: 31-55555-4444</abbr>
</address>

<address>
    <strong>Suporte Técnico:</strong> <a href="mailto:suporte@teste.com">suporte@teste.com</a><br />
    <strong>Comercial:</strong> <a href="mailto:comercial@teste.com">comercial@teste.com</a>
</address>
